/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Global Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 180px;
    font-family: 'Arial', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 0.686rem;
    line-height: 1.102rem;
    background-color: #fcfbfa;
}

/* Main content area */
.main-content {
    flex-grow: 1;
    margin: 50px;
    transition: all 0.1s ease;
}

/* Typography */
.large-body {
    margin-top: 0;
    font-size: 1.386rem;
    font-weight: 400;
    letter-spacing: 0.0139rem;
    line-height: 1.75rem;
    color: #111;
    max-width: 780px;
    padding-bottom: 30px;
}

.default-body {
    margin-top: 0;
    font-size: 1.0417rem;
    font-weight: 400;
    letter-spacing: 0.0139rem;
    line-height: 1.302rem;
    color: #111;
    padding-bottom: 10px;
    max-width: 600px;
    margin-bottom: 30px;
}

.small-body {
    margin-top: 0;
    font-size: 0.786rem; 
    font-weight: 400;
    letter-spacing: 0.0139rem;
    line-height: 1.102rem;
    color: #111;
    max-width: 800px;
}

.small-body ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
}

.small-body ul li {
    margin-bottom: 3px; /* Adds space between each list item */
}

h1, h2, h3, .subheader, p {
    margin-top: 0;
}

h1 {
    font-size: 1.386rem;
    font-weight: 400;
    letter-spacing: 0.0139rem;
    text-transform: uppercase;
    line-height: 0.6;
    padding-bottom: 30px;
}

.holding-page h1 {
    align-content: centre;
    padding-top: 0;
    font-size: 1.386rem;
    font-weight: 400;
    letter-spacing: 0.0139rem;
    text-transform: uppercase;
    line-height: 0.6;
    text-align: center; /* Ensure text is centred */
    margin: auto; /* Remove default margin */
}

h2 {
    font-size: 1.072rem;
    font-weight: 400;
    letter-spacing: 0.0139rem;
    text-transform: uppercase;
    line-height: 0.6;
    padding-top: 40px;
    padding-bottom: 20px;
}

h3 {
    font-size: 0.886rem;
    font-weight: 400;
    letter-spacing: 0.0139rem;
    line-height: 0.6;
    padding-bottom: 10px;
}

p {
    font-size: 0.786rem;
}

.footer .small-body {
    font-size: 0.786rem;
    font-weight: 400;
    letter-spacing: 0.0139rem;
    line-height: 1.302rem;
}

li {
    display: flex;
    gap: 20px;
}
  
  /* Dropdown menu styles */
  .dropdown-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Full height of the viewport */
    flex-direction: column; /* Stack items vertically */
    background-color: #fcfbfa; /* Optional: Add a background color */
    z-index: 999;
    justify-content: center; /* Center items vertically in the dropdown */
    align-items: center; /* Center items horizontally */
  }

  .menu-button {
    display: block; /* Ensure the button is visible */
    position: fixed;
    top: 0; /* Align to the top of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Offset 50% to ensure centering */
    width: 100%; /* Full width for the background effect */
    height: 90px; /* Ensure height is 60px */
    font-size: 2rem;
    text-transform: uppercase;
    background: transparent;
    color: #111; /* Adjust text color */
    border: none;
    cursor: pointer;
    text-align: center; /* Center the text within the button */
    z-index: 1000;
}
  
  .menu-item {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.0139rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    width: 100%;
    box-sizing: border-box;
    margin: 90px 0; /* Add space between items */
    display: flex; /* Use flexbox for vertical centering */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }

.menu-item a {
    text-decoration: none;
    display: block; /* Ensure links behave like block elements */
}

  .menu-button.scrolled {
    background: linear-gradient(to bottom, #fcfbfa 100%, rgba(255, 255, 255, 0.5) 0%, transparent 90%);
    color: #111; /* Change text color for better visibility */
    transition-delay: 1s; /* Delay the transition effect */
}

  .dropdown-menu.hidden {
    display: none;
  }
  
  .dropdown-menu.visible {
    display: flex; /* Show the menu when the 'visible' class is applied */
  }

  body.menu-open {
    overflow: hidden; /* Disable scrolling */
  }

/* Initial Navbar Style */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 50px;
    z-index: 1000;
    padding: 30px 50px;
    background-color: transparent;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligns first and last items to the edges */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Scrolled Navbar Style */
.navbar.scrolled {
    background: linear-gradient(to bottom, #fcfbfa 100%, rgba(255, 255, 255, 0.5) 0%, transparent 90%);
    transition-delay: 1s;
}

.navbar ul {
    list-style-type: none;
    display: flex; /* Flexbox for layout */
    padding: 0;
    margin: 0;
    width: 100%; /* Full width of navbar */
    justify-content: space-between; /* Equal space between all items */
    align-items: center;
}

.navbar ul li {
    display: flex;
    justify-content: center; /* Center items within their flex containers */
}

.navbar ul li a, .navbar-body a {
    text-decoration: none;
    font-size: 1.386rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.0139rem;
    color: #111;
    transition: transform 0.3s ease;
    text-align: center; /* Center text within the links */
}

.navbar ul li:first-child {
    justify-content: flex-start; /* Align the first item to the left */
}

.navbar ul li:last-child {
    justify-content: flex-end; /* Align the last item to the right */
}

/* Layout Sections */
.full-screen {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #111;
}

.centered-column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}

/* Project Details Section */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 360px;
    margin-bottom: 120px;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1920px;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
}

/* Two-Column Layout */
.two-column-layout {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    align-items: stretch;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    box-sizing: border-box;
}

.left-column {
    flex: 3;
    width: 30%; /* The column width remains unaffected */
}

.right-column {
    flex: 9;
}

.row {
    display: flex;
    width: 100%; /* Full-width container */
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

/* Gallery Section */
.gallery {
    display: grid;
    gap: 20px;
    row-gap: 180px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1920px;
    margin: 0 auto;
}

.gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
}

.gallery-item {
    display: block; 
    position: relative;
    text-decoration: none; 
    padding: 0;
    margin: 0;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.15s ease;
    user-drag: none;
}

.gallery-item-subtitle {
    margin-top: 24px; /* Space between the image and subtitle */
    margin-bottom: 12px;
    text-align: left; /* Align text to the left */
    text-transform: uppercase;
    font-size: 1.072rem; /* Adjust font size for readability */
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0.0139rem; /* Corrected the unit for letter-spacing */
    color: #000; /* Change color to black */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.15s ease; /* Smooth transition */
}

/* New body copy styling */
.gallery-item-body {
    margin-top: 4px; /* Space between the image and subtitle */
    font-size: 0.586rem; 
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 0.0239rem;
    line-height: 0.5rem;
    color: #333; /* Set a lighter color for the body text */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.15s ease; /* Smooth transition for appearance */
}

/* To show both subtitle and body copy on hover */
.gallery-item:hover .gallery-item-subtitle,
.gallery-item:hover .gallery-item-body {
    opacity: 1; 
}


.gallery-item:hover img {
    transform: rotate(3deg); 
}

.gallery-item-subtitle {
    pointer-events: none; /
}

/* Project Section */
.project {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1920px;
    margin: 0 auto;
}

.project-text {
    position: fixed; /* Keep it at the top of the viewport */
    width: 100%; /* Span the full width */
    transition: opacity 0.1s ease; /* Smooth fade-out transition */
    
}

.project-images {
    display: grid;
    position: relative;
    gap: 20px;
    row-gap: 180px;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
    max-width: 1920px;
    margin: 0 auto;
}

.project-item {
    display: block; /* Ensure the parent anchor tag behaves like a block */
    position: relative;
    text-decoration: none; /* Remove underline for the parent link */
    padding: 0;
    margin: 0;
}

.project-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.15s ease;
    user-drag: none;
}

/* Caption Styling */
.image-caption {
    margin-top: 20px;
    font-size: 1.0417rem;
    font-weight: 400;
    letter-spacing: 0.0139rem;
    line-height: 1.302rem;
    color: #111;
    padding-bottom: 10px;
    max-width: 600px;
    margin-bottom: 30px;
}

/* Image Sizes */
.full-width {
    grid-column: span 12;
    justify-content: space-between;
    align-items: center;
}

.large {
    grid-column: span 6;
    justify-content: space-between;
    align-items: center;
}

.medium {
    grid-column: span 4;
    justify-content: space-between;
    align-items: center;
}

.small {
    grid-column: span 2;
    justify-content: space-between;
    align-items: center;
}

/* Footer Section Styling */
.footer {
    display: flex;
    justify-content: space-between; /* Distribute items with equal space between them */
    align-items: center; /* Vertically center items */
    padding: 20px; /* Add padding for spacing */
    margin-top: 360px;
    width: 100%; /* Ensure full width */
}

/* General column styling */
.footer-column {
    display: flex; /* Flexbox for content inside the column */
    justify-content: center; /* Center the content within each column */
    text-align: center; /* Center text within columns */
}

/* First column aligned to the left */
.footer-column:first-child {
    justify-content: flex-start; /* Align the first column to the left */
}

/* Last column aligned to the right */
.footer-column:last-child {
    justify-content: flex-end; /* Align the last column to the right */
}

/* Footer links */
.footer-link {
    color: #111;
    text-decoration: none; /* Remove underline */
}

@media (max-width: 1280px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr); 
        margin-bottom: 80px;
    }
}

@media (min-width: 768px) {
    .rotate-on-hover {
        display: inline-block;
        transition: transform 0.08s ease-in;
        transition: transform 3s ease-out;
    }

    .dropdown-menu {
        display: block; /* Show dropdown on mobile view by default */
      }

    .menu-button {
        display: none; /* Hide the menu button on desktop and larger screens */
      }

    .rotate-on-hover:hover {
        animation: rotateOnHover 0.1s forwards;
    }

    @keyframes rotateOnHover {
        0% {
            transform: rotate(1deg);
        }
        100% {
            transform: rotate(3.75deg);
        }
    }
}

/* Mobile-specific Styles */
@media (max-width: 767px) {
    .main-content {
        margin: 0 20px;
        margin-bottom:90px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 60px);
        width: 100%;
    }

    .content-wrapper {
        padding: 0;
        gap: 20px;
        width: 100%;
    }

    .navbar {
        display: none; /* Hide the entire navbar */
    }

    /* Two-Column Layout Stacking for Mobile */
    .two-column-layout {
        display: flex;
        flex-direction: column; /* Ensure column stacking */
        width: 100%;
        margin: 0 auto;
    }

    .left-column, .right-column {
        width: 100%; /* Ensure columns take full width */
        padding-right: 0;
        margin-bottom: 20px; /* Add spacing between stacked columns */
    }

    /* Gallery Section */
    .gallery,
    .image-gallery {
        display: grid;
        gap: 90px;
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 100%;
    }

    /* Gallery Item Styling */
    .gallery-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .gallery-item-subtitle {
        font-size: 2rem;
        line-height: 1.5rem;
        opacity: 1;
        margin-top: 30px;
    }

    .gallery-item .gallery-item-body {
        opacity: 1;
    }

    .gallery-item-body {
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: #333; 
    }
    
    .navbar {
        display: none; /* Hide the entire navbar */
    }

    .project {
        display: grid;
        gap: 10px; /* Adjust gap for smaller screens */
        grid-template-columns: 1fr; /* Stack items in a single column */
        margin: 0 auto;
    }

    .project-images {
        display: grid;
        gap: 30px; /* Adjust gap for smaller screens */
        grid-template-columns: 1fr; /* Stack images in a single column */
        row-gap: 20px; /* Reduce row spacing */
    }

    .project-text {
        position: relative; /* Change to relative for natural flow on small screens */
        text-align: center; /* Center-align the text if desired */
        margin-bottom: 20px; /* Add spacing below text */
    }

    .project-item {
        margin: 0 auto; /* Center-align project items */
        width: 90%; /* Adjust width for better spacing */
    }

    .project-item img {
        width: 100%; /* Ensure images are responsive */
        height: auto;
    }

    /* Footer Styles */
    .footer {
        flex-direction: column; /* Stack columns vertically */
        align-items: center; /* Center align text */
        padding-bottom: 30px;
        }
        
        .footer-group {
        flex: 1; /* Group behaves as one column */
        max-width: 100%; /* Takes full width */
        flex-direction: column; /* Stacked child columns */
        }
    
        .footer-column {
            max-width: 100%; /* Each column takes full width */
            padding: 0; /* Add vertical spacing between columns */
            text-align: center; /* Optional: Center-align text */
        }

}


