RewriteEngine On
RewriteBase /

# Redirect all requests to index.php except for verify-password.php
RewriteCond %{REQUEST_URI} !^/verify-password.php
RewriteCond %{REQUEST_URI} !^/private/index.html
RewriteRule ^(.*)$ index.php [L]
