RewriteEngine On
RewriteCond %{REQUEST_URI} !^/private/  # Exclude requests to /private/ from being redirected
RewriteRule ^$ /index.php [L]  # If the request is for the root (e.g., lewisrowley.com), go to index.php
RewriteCond %{REQUEST_URI} !^/verify-password.php$  # Exclude the specific file
RewriteRule ^ /index.php  # Direct all other requests to index.php
